# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# ML/DL Model weights & datasets large files
*.pt
*.onnx
*.weights
*.h5
*.pkl
*.joblib
!models/.gitkeep
!data/.gitkeep

# Environments & IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/
